.kaufman-title_theme_dark {
  color: white;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.15;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 90px;
  text-align: center;
  width: 60%;
  z-index: 1;
}
