.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  position: relative;
  margin-bottom: 100px;
}

.logo-place-header {
  position: absolute;
  width: 154px;
  height: 31px;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin-left: 64px;
  width: 730px;
  display: flex;
  align-items: center;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-ilustration {
  position: absolute;
  width: 756px;
  height: 608px;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}

.header__square {
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  right: 0px;
  top: 64px;
}

.description {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  margin-top: 0;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.two-columns__paragraph {
  min-width: 784px;
  font-size: 24px;
  margin-top: 0;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin-bottom: 100px;
}

.digits__title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

.digits__subtitle {
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 60px;
}

.table {
  display: flex;
  width: 1100px;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 60px;
  padding: 0;
}

.table__cell {
  width: 250px;
}

.table__heading {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__text-source {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
}

.feynman {
  height: 790px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 775px;
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 70px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
}

.feynman__ilustration {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.kaufman {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.kaufman__title_theme_dark {
  color: white;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 20px;
  width: 60%;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}

.kaufman__subtitle_theme_dark {
  color: white;
  margin: auto;
  text-align: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}

.table__theme_dark {
  display: flex;
  width: 1100px;
  margin: auto;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  row-gap: 80px;
  padding-top: 80px;
  z-index: 1;
  margin-bottom: 90px;
}

.table__cell_theme_dark {
  width: 200px;
  list-style: none;
}

.table__heading_theme_dark {
  color: white;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  color: white;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.kaufman__triangle {
  position: absolute;
  width: 660px;
  height: 636px;
  right: -124px;
}

.footer {
  border: 1px solid white;
  background-color: #1f1f1f;
  display: flex;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  margin: auto;
  width: 90%;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid white;
}

.logo-place-footer {
  width: 183px;
  height: 35px;
  align-self: start;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 0;
}

.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  border: 1px solid white;
  margin-top: 0;
}

.footer__list {
  padding: 0;
}

.footer__column-link {
  list-style: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  border: 1px solid white;
}
